.App {
  text-align: center;
}
.teamName {
  height: 100px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.market {
  height: 100px;
  border: 1px solid;
  margin-bottom: 10px;
}
.selectionWrapper {
  justify-content: space-around;
  display: flex;
  height: 50px;
  margin-top: 10px;
}

.selection {
  border: 1px solid;
  display: flex;
  width: 250px;
  justify-content: center;
  flex-direction: column;
}
.selection :hover {
  cursor: pointer;
}

.menu {
  width: 300px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: lightgray;
}
.menuList {
  display: flex;
  flex-direction: column;
}
.deleteButton{
  margin-bottom: 20px;
}
